 .u-section-1 {
  min-height: 499px;
}

.u-section-1 .u-slider-1 {
  min-height: 478px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('https://assets.nicepagecdn.com/4682537d/5225597/images/a3a751d46f9e92174a2e92db6c6dea1207c73919e81204068739bd9d09dc3b08a56c5b5ac0b63ed176c65114b6906470cc13235e070c30982f5f4a_1280.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  margin: 109px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 66px 513px 0 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://assets.nicepagecdn.com/4682537d/5225597/images/Imagen14.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 36px 527px 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 313px;
  }

  .u-section-1 .u-text-4 {
    width: 409px;
    margin-right: 327px;
  }

  .u-section-1 .u-carousel-control-2 {
    top: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    min-height: 440px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 153px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 167px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    min-height: 410px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 74px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 101px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-4 {
    width: 320px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 439px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.125rem;
  width: 780px;
  margin: 64px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  width: 780px;
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 600;
  border-style: solid;
  margin: 30px auto 47px;
  padding: 16px 36px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("https://assets.nicepagecdn.com/4682537d/5225597/images/g.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 658px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 742px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 23px 10px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 150px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 300px;
  height: 150px;
  margin: 123px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 300px;
  height: 150px;
  margin: 123px 199px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 658px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  margin: 135px 0 0 40px;
}

.u-section-3 .u-line-1 {
  height: 9px;
  transform-origin: left center;
  border-style: solid;
  margin: 30px auto 0 40px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 40px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 600;
  border-style: solid;
  margin: 20px auto 0 40px;
  padding: 16px 36px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 0%;
    min-height: 612px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 103px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 4px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 782px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 79px;
    margin-left: 220px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 81px;
    margin-right: 220px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 605px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 65px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 58px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 761px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 877px;
  margin: 23px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin: 22px 0 8px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 316px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-1 {
  height: 227px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  width: 210px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-3 {
  font-style: normal;
  width: 210px;
  margin: 29px auto 0;
}

.u-section-4 .u-icon-2 {
  width: 34px;
  height: 34px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-2 {
  height: 227px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  width: 210px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-5 {
  font-style: normal;
  width: 210px;
  margin: 29px auto 0;
}

.u-section-4 .u-icon-3 {
  width: 34px;
  height: 34px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-3 {
  height: 227px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  width: 210px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-7 {
  font-style: normal;
  width: 210px;
  margin: 29px auto 0;
}

.u-section-4 .u-icon-4 {
  width: 34px;
  height: 34px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-4 .u-image-4 {
  height: 227px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-8 {
  letter-spacing: normal;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  width: 210px;
  margin: 30px auto 0;
}

.u-section-4 .u-text-9 {
  font-style: normal;
  width: 210px;
  margin: 29px auto 0;
}

.u-section-4 .u-icon-5 {
  width: 34px;
  height: 34px;
  margin: 30px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 257px;
  }

  .u-section-4 .u-image-1 {
    height: 187px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 187px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 187px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-image-4 {
    height: 187px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 838px;
  }

  .u-section-4 .u-image-1 {
    height: 286px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 286px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 286px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 286px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 429px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-image-2 {
    height: 429px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-image-3 {
    height: 429px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-image-4 {
    height: 429px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 270px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 270px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 270px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 270px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 30px;
    margin-right: 30px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 582px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 970px;
  margin: 51px auto 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 452px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  line-height: 1;
  margin: 109px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 600;
  border-style: solid;
  margin: 80px auto 0;
  padding: 16px 36px;
}

.u-section-5 .u-image-1 {
  min-height: 222px;
  background-image: url("https://assets.nicepagecdn.com/4682537d/5225597/images/41O6GADH6uL.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  min-height: 222px;
  background-image: url("https://assets.nicepagecdn.com/4682537d/5225597/images/88d09284-1531-4480-b2c9-35ea820b06ae.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  min-height: 230px;
  background-image: url("https://assets.nicepagecdn.com/4682537d/5225597/images/abb-1sfa898107r7000-nfs.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  min-height: 230px;
  background-image: url("https://assets.nicepagecdn.com/4682537d/5225597/images/65518dd6-c42b-4eea-b513-43ef7b0da629.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-5 .u-image-1 {
    min-height: 215px;
  }

  .u-section-5 .u-image-2 {
    min-height: 215px;
  }

  .u-section-5 .u-image-3 {
    min-height: 223px;
  }

  .u-section-5 .u-image-4 {
    min-height: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-5 .u-image-1 {
    min-height: 341px;
  }

  .u-section-5 .u-image-2 {
    min-height: 341px;
  }

  .u-section-5 .u-image-3 {
    min-height: 353px;
  }

  .u-section-5 .u-image-4 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2484px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 44px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 512px;
  }

  .u-section-5 .u-image-2 {
    min-height: 512px;
  }

  .u-section-5 .u-image-3 {
    min-height: 530px;
  }

  .u-section-5 .u-image-4 {
    min-height: 530px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1712px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 322px;
  }

  .u-section-5 .u-image-2 {
    min-height: 322px;
  }

  .u-section-5 .u-image-3 {
    min-height: 334px;
  }

  .u-section-5 .u-image-4 {
    min-height: 334px;
  }
}